<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="fast.boot.autoconfigure.postprocessor.User" id="user" init-method="start">
        <property name="name" value="aoao"></property>
    </bean>

    <!-- 注册InstantiationAwareBeanPostProcessor对象 -->
    <bean class="fast.boot.autoconfigure.postprocessor.MyInstantiationAwareBeanPostProcessor"></bean>
</beans>