<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--Mapper映射配置文件-->
<mapper namespace="fast.cloud.nacos.mybatis.mapper.DeptEmpMapper">

    <select id="getEmpTotalByDept" resultType="fast.cloud.nacos.mybatis.entity.DeptEmp">
        SELECT deptno, COUNT(*) AS total  FROM  emp  GROUP BY deptno
    </select>


</mapper>

